<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <!--<p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>-->
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://scholar.google.com/citations?user=m3ONACQAAAAJ&hl=en"><strong>Google Scholar</strong></a></li>
          <li><a href="https://www.youtube.com/@guoben8357"><strong>Youtube</strong></a></li>
          <li><a href="https://www.linkedin.com/in/binguo15/"><strong>Linkdin</strong></a></li>
          <li><a href="https://github.com/Itisben/"><strong>GitHub</strong></a></li>
        </ul>
        {% endif %}

        <ul>
          <li><a href="#about-me">About Me</a></li>
          <li><a href="#trent-university">Trent University</a></li>
          <li><a href="#research-projects">Research Projects</a></li>
          <li><a href="#recruit-students">Recruit Students</a></li>
          <li><a href="#my-students">My Students</a></li>
          <li><a href="#teaching">Teaching</a></li>
          <li><a href="#selected-publication">Selected Publication</a></li>
<!--               <ll><a href="#thesis">Thesis</a></ll>
              <ll><a href="#journal">Journal</a></ll>
              <ll><a href="#conference">Conference</a></ll> -->
        </ul>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <!--
        <p><small>Modified on July 13th, 2023</small></p>
        -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
